body{
    padding: 0;
    margin: 0;
}
div{
    display: grid;
    font-size: 40px;
    align-items:center;
    text-align: center;
    font-size: 50px;
    background-color: antiquewhite;
    grid-template-columns: 3;
    grid-template-rows: 5;
    
}
